

*{
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    background-color: #B2C7D9;
    width: 100vw;
    height: 100%;
    padding-bottom: 20px;
}

.info_css{
    width: 100%;
    height:fit-content;
    padding-top:20px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.img_size{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.content_box{
    width: 100%;
    height: 9vh;
    max-height: 50vh;
    position: relative;
    margin: 10px 0 ;
}

.content_box {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-top: 100%;
    }
  
    to {
      margin-top: 0%;
    }
  }

.right_content {
    color: black;
    position:relative;
    top: 50%; 
    transform: translateY(-50%);
    padding: 12px 20px;
    width: fit-content;
    max-width: 300px;
    height:fit-content;
    background:yellow;
    border-radius: 10px;
    float: right;
    right:15px;
    font-weight: bold;
   }
.right_content:after {
    border-top:15px solid yellow;
    border-left: 0px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 0px solid transparent;
    content:"";
    position:absolute;
    top:10px;
    right:-15px;
   }

.left_img{
    float: left;
}

.left_content {
    color: whitesmoke;
    position:relative;
    top: 50%; 
    transform: translateY(-50%);
    margin: 0 50px;
    padding: 12px 20px;
    width: fit-content;
    max-width: 300px;
    height:fit-content;
     background:#333333;
     border-radius: 10px;
     right:30px;
     float: left;
   }
.left_content:after {
    border-top:15px solid #333333;
    border-left: 15px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
    content:"";
    position:absolute;
    top:10px;
    left:-15px;
   }

.button_box{
    height: 100px;
    position: relative;
}

.nextpage_css {
    width: 120px;
    height: 50px;
    margin-top: 40px;
    padding: 12px 0 0 20px;
    position: absolute;
    left:76%;
    font-weight:700;
    text-transform: uppercase;
    background:
        linear-gradient(135deg, transparent 0px, antiquewhite 0) top left,
        linear-gradient(-135deg, transparent 35px, antiquewhite 0) top right,
        linear-gradient(-45deg, transparent 35px, antiquewhite 0) bottom right,
        linear-gradient(45deg, transparent 0px, antiquewhite 0) bottom left;
    background-size: 50% 50%;
background-repeat: no-repeat;
display: inline-block;
}

.prevpage_css {
    width: 120px;
    height: 50px;
    margin-top: 40px;
    padding: 12px 0 0 60px;
    display: inline-block;
    position: absolute;
    font-weight:700;
    text-transform: uppercase;
    background:
        linear-gradient(135deg, transparent 35px, antiquewhite 0) top left,
        linear-gradient(-135deg, transparent 0px, antiquewhite 0) top right,
        linear-gradient(-45deg, transparent 0px, antiquewhite 0) bottom right,
        linear-gradient(45deg, transparent 35px, antiquewhite 0) bottom left;
    background-size: 50% 50%;
background-repeat: no-repeat;
}
