

*{
    font-family: 'Noto Sans KR', sans-serif;
}

.container{
    background-color: aquamarine;
    width: 100%;
    height: 100vh;
}

.content_box{
    width: 100vw;
    height: 10vh;
    max-height: 50vh;
}


.right_content {
    color: black;
    position:relative;
    margin: 10px 50px;
    padding: 12px 20px;
    width: fit-content;
    max-width: 300px;
    height:fit-content;
    background:yellow;
    border-radius: 10px;
    float: right;
   }
.right_content:after {
    border-top:15px solid yellow;
    border-left: 0px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 0px solid transparent;
    content:"";
    position:absolute;
    top:10px;
    right:-15px;
   }

.left_content {
    color: wheat;
    position:relative;
    margin: 10px 50px;
    padding: 12px 20px;
    width: fit-content;
    max-width: 300px;
    height:fit-content;
     background:#333333;
     border-radius: 10px;
     right:30px;
   }
.left_content:after {
    border-top:15px solid #333333;
    border-left: 15px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
    content:"";
    position:absolute;
    top:10px;
    left:-15px;
   }