

*{
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    background-color: #B2C7D9;
    width: 100%;
    min-height: 100vh;

    padding-bottom: 10px;
    padding-top: 10px;
}

.banner{
    width: 100%;
    height: 10%;
    position:absolute;
<<<<<<< HEAD
    top: 5%;
    padding-left: 30%;
=======
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
>>>>>>> 1b9774e358521680a40d85fb4ac56106ed56b866
}

.text1 {
    position: absolute;
    font-family: verdana;
    font-size: 40px;
    font-weight: 700;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, 0);
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
    1px 30px 60px rgba(16,16,16,0.4);
}

/*index css*/
   
.container_index{
    background: #B2C7D9;
    width: 100%;
    height: 100%;
    position:absolute;
}
  
  .cup_button{
      width: 100%;
      height: 100%;
      font-size: 20px;
      font-weight: 600;
      padding: 17% 0;
      color: white;
      text-align: center;
  }

  .cup {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 12%;
    border: 6px solid #B2C7D9;
    border-top: 2px solid transparent;
    border-radius: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: url(https://image.ibb.co/fmHm66/wave.png);
    background-position: 0px 350px;
    background-repeat: repeat-x;
    animation: filling 10s ease-in-out infinite;
    box-shadow: 0 0 0 6px #fff, 0 5px 35px rgba(0,0,0,1);
  }

  .cup2 {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 12%;
    border: 6px solid #B2C7D9;
    border-top: 2px solid transparent;
    border-radius: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: url(https://image.ibb.co/fmHm66/wave.png);
    background-position: 0px 350px;
    background-repeat: repeat-x;
    animation: filling 10s ease-in-out infinite;
    box-shadow: 0 0 0 6px #fff, 0 20px 35px rgba(0,0,0,1);
  } 
  
  .cup3 {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 12%;
    border: 6px solid #B2C7D9;
    border-top: 2px solid transparent;
    border-radius: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: url(https://image.ibb.co/fmHm66/wave.png);
    background-position: 0px 350px;
    background-repeat: repeat-x;
    animation: filling 10s ease-in-out infinite;
    box-shadow: 0 0 0 6px #fff, 0 20px 35px rgba(0,0,0,1);
  }
 
  
  .cup:before {
    content: '';
    position: absolute;
    width: 30%;
    height: 80%;
    border: 6px solid #fff;
    right: -35%;
    top: 20%;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
  }
  
  .cup2:before {
    content: '';
    position: absolute;
    width: 30%;
    height: 80%;
    border: 6px solid #fff;
    right: -35%;
    top: 20%;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
  }
  .cup3:before {
    content: '';
    position: absolute;
    width: 30%;
    height: 80%;
    border: 6px solid #fff;
    right: -35%;
    top: 20%;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
  }

  @keyframes filling {
    50% {background-position: 3000px 0px;}
    100% {background-position: 6000px 350px;}
  }

  .introduce_text{
      width: 100%;
      color: white;
      text-align: center;
      top:88%;
      padding-left: 10%;
      padding-right: 10%;
      position: absolute;
  }

/* test css */
.bubble {
	height: fit-content;
	width: 90%;
	min-width: 200px;
	background: ivory;
	display: block;
	margin: 0 auto;
  margin-top:25px;
  margin-bottom:15px;
	border-radius: 20px;
	font-size: 200px;
	text-align: center;
    padding: 0px 20px;
    overflow:hidden;
}

.info_css{
    width: 100%;
    height:fit-content;
    padding: 10px 0;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.img_size{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.content_box{
    width: 100%;
    overflow:hidden;
    height:fit-content;
    max-height: 50vh;
    position: relative;
    margin: 10px 0 ;
}

.content_box {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-top: 100%;
    }
  
    to {
      margin-top: 0%;
    }
  }

.right_content {
    color: black;
    /* position:relative; */
    /* top: 50%; 
    transform: translateY(-50%); */
    padding: 12px 20px;
    margin-bottom:5px;
    width: fit-content;
    max-width: calc(100% - 80px);
    height:fit-content;
    background:yellow;
    border-radius: 10px;
    float: right;
    right:15px;
    font-weight: bold;
    margin-right: 20px;
   }
.right_content:before {
    border-top:15px solid yellow;
    border-left: 0px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 0px solid transparent;
    content:"";
    position:absolute;
    display:inline-block;
    top:5px;
    right:5px;
    
   }

.left_img{
    float: left;
}

.left_content {
    color: whitesmoke;
    /* position:relative; */
    /* top: 50%;  */
    /* margin-bottom:5px; */
    /* transform: translateY(-50%); */
  margin-left:15px;
    padding: 12px 20px;
    width: fit-content;
    max-width: calc(100% - 80px);
    height:fit-content;
     background:#333333;
     border-radius: 10px;
     right:30px;
     float: left;
   }
.left_content:before {
    border-top:18px solid #333333;
    border-left: 18px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
    content:"";
    margin:15px;
    margin-left:-32px;
    display:absolute;
    /* top:-10px;
    left:-15px; */
   }

.button_box{

    height: 100px;
    position: relative;
}

.nextpage_css {
  
    cursor:pointer;
    width: 120px;
    height: 50px;
    margin-top: 40px;
    padding: 12px 0 0 20px;
    position: absolute;
    left:calc(100% - 120px);
    font-weight:700;
    text-transform: uppercase;
    background:
        linear-gradient(135deg, transparent 0px, antiquewhite 0) top left,
        linear-gradient(-135deg, transparent 35px, antiquewhite 0) top right,
        linear-gradient(-45deg, transparent 35px, antiquewhite 0) bottom right,
        linear-gradient(45deg, transparent 0px, antiquewhite 0) bottom left;
    background-size: 50% 50%;
background-repeat: no-repeat;
display: inline-block;
}

.prevpage_css {
    cursor:pointer;
    width: 120px;
    height: 50px;
    margin-top: 40px;
    padding: 12px 0 0 60px;
    display: inline-block;
    position: absolute;
    font-weight:700;
    text-transform: uppercase;
    background:
        linear-gradient(135deg, transparent 35px, antiquewhite 0) top left,
        linear-gradient(-135deg, transparent 0px, antiquewhite 0) top right,
        linear-gradient(-45deg, transparent 0px, antiquewhite 0) bottom right,
        linear-gradient(45deg, transparent 35px, antiquewhite 0) bottom left;
    background-size: 50% 50%;
background-repeat: no-repeat;
}
